{% extends "layout.html" %}

{% block breadcrumb %}
<li><a href="#">用户管理</a><span class="divider"></span></li>
<li class="active">权限管理</li>
{% endblock %}

{% block body %}
<div class="widget-box">
   <div class="widget-title"> 
      <h5 style="float:left;"><i class="fa fa-table fa-fw"></i>权限管理</h5>
      <button style="float:right;" class="btn btn-primary btn-sm" id="addBtn">添加权限</button>
   </div> <!--widget-title end-->

    <div class="widget-content">
    <!--权限列表-->
		<table id ="datatable"  class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>权限名</th>
				<th>权限中文名</th>
				<th>URL</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead> 
		<tbody>
		</tbody>
	   </table>
    <!--更新权限模态窗-->

    <!--更新权限模态窗-->

	</div><!--widget-content end-->

	</div><!--widget-content end-->

</div><!--widget-box end-->
{% endblock %}

{% block js %}

{% endblock %}
