{% extends "layout.html" %}

{% block breadcrumb %}
<li><a href="#">用户管理</a><span class="divider"></span></li>
<li class="active">用户列表</li>
{% endblock %}

{% block body %}
<div class="widget-box">
   <div class="widget-title"> 
      <h5 style="float:left;"><i class="fa fa-table fa-fw"></i>用户列表</h5>
      <button style="float:right;" class="btn btn-primary btn-sm" id="addBtn">添加用户</button>
   </div> <!--widget-title end-->
    
    <div class="widget-content">
    <!--用户列表-->
		<table id ="datatable"  class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>用户名</th>
				<th>中文名</th>
				<th>E-mail</th>
				<th>手机</th>
				<th>状态</th>
				<th>角色</th>
				<th>操作</th>
			</tr>
		</thead> 
		<tbody>
		</tbody>
	   </table>
    <!--添加用户模态窗-->

    <!--更新用户模态窗-->

	</div><!--widget-content end-->

</div><!--widget-box end-->
{% endblock %}

{% block js %}

{% endblock %}
